MPW46D_0927/MPW46D_mozi_dtd.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT mozi (film*)>
    <!ELEMENT film (rendezo+, szinesz+, iro+)>
        <!ELEMENT rendezo EMPTY>
        <!ELEMENT szinesz EMPTY>
        <!ELEMENT iro EMPTY>

<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj (horror | rejtely | akcio) #REQUIRED>
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED>
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>
<!ATTLIST iro id ID #REQUIRED>